:root {
  --main-color:  #111518;
  --accent-color: #FF6B09;
  --second-color: #B9B9B9;
  --white-color: #FFFFFF;
  --bc-grey-color: #E5E5E5;
  --content-color: #3D3D3D;
  --bc-section-color: #F1F1F1;

  --main-font: "Montserrat";

  --card-set-gap: 20px;
}